<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile</title>
</head>
<body>
  {% if messages %}
  {% for message in messages%}
  <h1>{{message}}</h1>
  {% endfor %}
  {% endif %}
  <div>
    welcome {{ user.username }}
    {% if request.user.is_authenticated %}
    <h1>logged in</h1>
    {% else %}
    <h1>not logged in </h1>
    {% endif %}
    <br>
    IP:{{ user_ip }}
  </div>
  <div>
    <a href="{% url 'compress' %}">compress</a>
  </div>
  <div>
    <a href="{% url 'logout' %}">logout</a>
  </div>
  <div>
    <a href="{% url 'verification' %}">verification</a>
  </div>

  
</body>
</html>