{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign-up</title>
</head>

<body>
  {% if messages %}
  {% for message in messages%}
  <h1>{{message}}</h1>
  {% endfor %}
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <label for="firstname">firstname</label>
    <br>
    <input type="text" name="first_name" id="firstname">
    <br>
    <label for="laststname">lastname</label>
    <br>
    <input type="text" name="last_name" id="lastname">
    <br>
    <label for="username">username</label>
    <br>
    <input type="text" name="username" id="username">
    <br>
    <label for="email">email</label>
    <br>
    <input type="email" name="email" id="email">
    <br>
    <label for="password1">passowrd</label>
    <br>
    <input type="password" name="password1" id="password1">
    <br>
    <label for="password2">confirm password</label>
    <br>
    <input type="password" name="password2" id="password2">
    <br>
    <label for="t_and_c">terms and conditions</label>
    <input type="checkbox" name="termsandcondition" id="t_and_c">
    <br>
    <input type="submit" value="submit">
    {{ form.errors }}
  </form>
  <div>
    <a href="{% url 'social:begin' 'facebook' %}">facebook</a>
  </div>
  <div>
    <a href="{% url 'social:begin' 'twitter' %}">twitter</a>
  </div>
  <div>
    <a href="{% url 'social:begin' 'google-oauth2' %}">google</a>
  </div>
  <hr>
  <div>
    <a href="{% url 'login' %}">login</a>
  </div>
</body>

</html>
{% endblock content %}