{% extends "base.html" %}
{% load static %}
{% block pageContent %}

<section class="container image__converter ">
    <div class="image__converter_text">
        <h1>Image Compressor</h1>
        <p>Best web app to compress image files online for free.</p>
    </div>
    <div class="select-image-input-box">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <label for="selectImage" class="select-image-input-label">
            <span>Select Image</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </label>
        <input type="file" name="selectImage" id="selectImage" placeholder="Select and Image"
            class="select-image-input" />
    </div>
    <div class="conversion__settings">
        <h4>Select the format you want to convert to:</h4>
        <div class="custom-select" style="width:200px;">
            <select>
              <option value="0">Select Format:</option>
              <option value="1">PNG</option>
              <option value="2">JPG</option>
              <option value="3">WEBP</option>
            </select>
          </div>
    </div>
</section>
   
{% endblock pageContent %}

{% block convert_extra_css %}
<title>PicSqueeze - Image Converter</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock convert_extra_css %}

<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PicSqueeze-covert</title>
</head>

<body>
  {% if messages %}
      {% for message in messages%}
        <h1>{{message}}</h1>
      {% endfor %}
    {% endif %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token%}
    <label for="image">image</label>
    <br>
    <input type="file" multiple  name="image" id="">
    <br>
    <label for="format">format</label>
    <br>
    <div>
      <select name="imageformat" id="format">
        <option value="">select the format you to convert to</option>
        <option value="jpeg">JPEG(jpg)</option>
        <option value="png">PNG</option>
        <option value="gif">GIF</option>
        <option value="webp">WEBP</option>
      </select>
    </div>

    <br>
    <input type="submit" value="submit">
  </form>
  <h1>{{ img_f }}</h1>


  {% if convert_download_link %}
  <a href="{{ convert_download_link }}"><button>Download Compressed Image</button></a>
  {% endif %}


</body>

</html> -->