{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PicSqueeze-resize</title>
</head>

<body>
  <!--{% if messages %}
      {% for message in messages%}
        <h1>{{message}}</h1>
      {% endfor %}
    {% endif %}-->
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token%}
    <label for="image">image</label>
    <br>
    <input type="file" multiple  name="image" id="">
    <br>
    <label for="height">Height</label>
    <br>
    <input type="number" name="imageheight" id="height">
    <br>
    <label for="width">Width</label>
    <br>
    <input type="number" name="imagewidth" id="width">
    <br>
    <input type="submit" value="submit">
  </form>
  <h1>{{ img_f }}</h1>


  {% if resize_download_link %}
  <a href="{{ resize_download_link }}"><button>Download Compressed Image</button></a>
  {% endif %}


</body>

</html>
{% endblock content%}