{% extends "base.html" %}
{% load static %}
{% block pageContent %}

<main class="image-resize__text">
  <div class="image-resize__text">
      <h1>Picsqueeze</h1>
      <p>Select any image to resize for free</p>
  </div>
  <!-- CHANGES MADE HERE  -->
  
  <form action="" method="post" enctype="multipart/form-data" class="container image__converter ">
    <div>
      {{ img_e }}
    </div>
    {% csrf_token%}
    <div class="select-image-input-box">
      <div id="preview" class="hidden"></div>
      <div id="uploadLoader" class="loader hidden"></div>
      <i id="uploadIcon" class="fa fa-upload" aria-hidden="true"></i>
      <label for="selectImage" class="select-image-input-label">
          <span>Select Image</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
      <input type="file" name="image" id="selectImage" placeholder="Select and Image"
          class="select-image-input" accept="image/png, image/jpeg" onchange="previewFile()" />
  </div>
      <!-- <div class="image-resize__select-image">
          <div id="preview" class="hidden"></div>
          <div id="uploadLoader" class="loader hidden"></div>
          <i id="uploadIcon" class="fa fa-upload" aria-hidden="true"></i>
      <i tabindex="1" class="fa fa-upload" aria-hidden="true" id="fa-upload"></i>
      <label for="selectImage" class="select-image-input-label">
          <span>Select Image</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
      <input type="file" name="image" id="selectImage" placeholder="Select and Image"
          class="image-resize__select-image_input" onchange="previewFile()" />
</div> -->
<div class="size-indicator">
  <div>
      <label for="width">Width</label>
      <input class='size-indicator__input' id="width" name="imagewidth" type="number" min="10" max="10000" placeholder="%" >
  </div>
  <div>
      <label for="height">Height</label>
      <input id="height" name="imageheight" class='size-indicator__input' type="number" min="10" max="10000" placeholder="%" >
  </div>
</div>
<button type="submit" class="form__btn">Submit</button>
</form> 
{% if resize_download_link %}
<a href="{{ resize_download_link }}"><button class="resize-download-btn">Download Compressed Image</button></a>
{% endif %}    


<!-- CHANGES MADE HERE ENDS -->
</main>
 
{% endblock pageContent %}

{% block resize_extra_css %}
<title>resize image</title>
<link rel="icon" type="image/png" href="{% static 'images/resize.png' %}" />
<link rel="stylesheet" href="{% static 'css/resizer.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock resize_extra_css %}

{% block resize_extra_js %}
<script src="{% static '/js/main.js' %}"></script>
{% endblock resize_extra_js %}






<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PicSqueeze-resize</title>
</head>

<body>
  <!--{% if messages %}
      {% for message in messages%}
        <h1>{{message}}</h1>
      {% endfor %}
    {% endif %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token%}
    <label for="image">image</label>
    <br>
    <input type="file" multiple  name="image" id="">
    <br>
    <label for="height">Height</label>
    <br>
    <input type="number" name="imageheight" id="height">
    <br>
    <label for="width">Width</label>
    <br>
    <input type="number" name="imagewidth" id="width">
    <br>
    <input type="submit" value="submit">
  </form>
  <h1>{{ img_f }}</h1>


  {% if resize_download_link %}
  <a href="{{ resize_download_link }}"><button>Download Compressed Image</button></a>
  {% endif %}


</body>

</html> -->