asgiref==3.7.2
boto3==1.33.13
botocore==1.33.13
certifi==2024.6.2
cffi==1.15.1
charset-normalizer==3.3.2
colorama==0.4.6
colorclass==2.2.2
cryptography==42.0.8
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.25
django-extensions==3.2.3
django-storages==1.14.3
docopt==0.6.2
gunicorn==22.0.0
idna==3.7
jmespath==1.0.1
MarkupSafe==2.1.5
oauthlib==3.2.2
packaging==24.0
Pillow==9.5.0
pip-upgrader==1.4.15
proglog==0.1.10
psutil==5.9.8
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python3-openid==3.2.0
pytz==2024.1
requests==2.31.0
requests-oauthlib==2.0.0
s3transfer==0.6.1
six==1.16.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
sqlparse==0.4.4
terminaltables==3.1.10
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.6
Werkzeug==3.0.1
whitenoise==6.6.0
