asgiref
boto3
botocore
certifi
cffi
charset-normalizer
colorama
colorclass
cryptography
decorator
defusedxml
Django
django-extensions
django-storages
docopt
gunicorn
idna
jmespath
MarkupSafe
oauthlib
packaging
Pillow
pip-upgrader
proglog
psutil
psycopg2-binary
pycparser
PyJWT
pyOpenSSL
python-dateutil
python-decouple
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
social-auth-app-django
social-auth-core
sqlparse
terminaltables
tqdm
tzdata
urllib3
Werkzeug
whitenoise
