:root {
    --primary: #0083D0;
    --primary-light: #63bbee;
    --darkmode: #1C1E25;
    --greyish: #b4aaaa;
    --dark-greyish: #292828;
    --lightmode: #ffffff;
    --text-one: #f8f0f0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/* --- GENERAL STYLES --- */

body {
    background-color: var(--darkmode);
    color: #f8f0f0;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    padding-inline: 48px;
    padding-block: 1rem;
}

/* --- UTILITIES FOR SPECIAL FUNCTIONS --- */

/* .hidden {
    display: none;
} */

/* --- HEADER STYLES --- */

header {
    background-color: var(--darkmode);
    color: #f8f0f0;
    border-bottom: 1px solid var(--greyish);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.164); */
}

.landing_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    padding-inline: 20px;
}

a {
    text-decoration: none;
    color: var(--text-one) !important;
}

p {
    font-size: 1rem;
}

#picsqueeze_logo {
    color: var(--text-one);
    font-weight: 700;
    font-size: 1.2rem;
}

/* --- MOBILE MENU STYLES --- */

.landing-menu {
    display: flex;
    justify-content: flex-start;
}

.landing__menu-list li {
    list-style: none;
    border-top: 1px solid var(--darkmode);
    padding-top: 20px;
    padding-bottom: 20px;
}

.landing__menu-list li:first-child {
    border-top: 1px solid var(--darkmode);
    border-bottom: none;
}

.landing__menu-list li:last-child {
    border-top: 1px solid var(--darkmode);
    border-bottom: none;
}

.landing__menu-list li a {
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 600;
    font-size: 0.9rem;
}

/* Submenu Mobile Styles */
.submenu_mobile {
    display: none;
    padding-left: 48px;
    padding-right: 48px;
}

#submenu_mobile-btn {
    border: none !important;
}

#submenu_mobile-btn,
#submenu_desktop-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}

.submenu_mobile li {
    border: none !important;
}

li:hover .submenu_mobile {
    display: block;
}

.submenu_mobile a {
    display: block;
    white-space: nowrap;
}

#submenu_mobile-btn .fa-caret-down,
#submenu_desktop-btn .fa-caret-down {
    display: block;
}

#submenu_mobile-btn .fa-caret-up,
#submenu_desktop-btn .fa-caret-up {
    display: none;
}

li:hover #submenu_mobile-btn .fa-caret-down,
li:hover #submenu_desktop-btn .fa-caret-down {
    display: none;
}

li:hover #submenu_mobile-btn .fa-caret-up,
li:hover #submenu_desktop-btn .fa-caret-up {
    display: block;
}

/* DESKTOP MENU STYLES */

.desktop__landing-menu {
    display: block;
}

.desktop__landing-menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.4rem;
}

.desktop__landing-menu-list li {
    list-style: none;
}

.desktop__landing-menu-list li a {
    font-weight: 600;
    font-size: 0.9rem;
}

.submenu_desktop-box {
    position: relative;
}

.submenu_desktop-box:hover .submenu_desktop {
    display: flex;
}

.submenu_desktop {
    padding: 0.7rem;
    display: none;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 30px;
    right: -40px;
    background-color: var(--text-one);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082);
}

.submenu_desktop a {
    color: var(--darkmode) !important;
    white-space: nowrap;
}

/* #submenu_desktop-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
} */

/* MAIN SECTION STYLE */

main {
    padding-top: 1rem;
    width: 100vw;
}

.landing__hero,
.select-image-input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
}

.landing__hero_text {
    margin-bottom: 4rem;
}

.landing__hero_text h1 {
    padding: 10px;
}

.select-image-input-box {
    width: 100%;
    height: 300px;
    background-color: var(--primary);
    border: 10px solid var(--primary-light);
}

.select-image-input-box i {
    font-size: 3rem;
    color: var(--lightmode);
}

.select-image-input {
    display: none;
}

.select-image-input-label {
    background-color: var(--lightmode);
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    column-gap: 15px;
    padding: 0 10px;
    transition: all 0.32s;
}

.select-image-input-label span,
.select-image-input-label i {
    height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-image-input-label i {
    border-left: 1px solid var(--primary-light);
    border-radius: 5px;
    padding-left: 10px;
}

.select-image-input-label:hover {
    opacity: 0.9;
}

.custom-file-input:focus+.select-image-input-label {
    outline: 1px solid var(--primary-light);
}


/* --- IMAGES COMPRESSION CUSTOME SETTINGS STYLES ---*/

.compression__settings {
    width: 100%;
    border-radius: 10px;
}

.compression__settings-accordion-btn {
    background-color: var(--primary);
    color: var(--dark-greyish);
    font-size: 1.2rem;
    color: var(--text-one);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid var(--primary);
    outline: none;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.4s;
}

.compression__settings-accordion-btn:hover {
    background-color: var(--primary-light);
}

.compression__settings-accordion-panel {
    padding: 10px 18px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.compression__settings-options,
.compression__settings-accordion-panel aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    row-gap: 10px;
}

.compression__settings-options {
    color: var(--dark-greyish);
}

.compression__settings-accordion-panel aside {
    padding-left: 25px;
    width: 100%;
}

.slider {
    width: 100%;
    height: 15px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
}

.quality-text {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    padding: 5px 10px;
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 10px;
    color: var(--darkmode);
}

.quality-text::placeholder {
    font-size: 0.7rem;
    color: var(--dark-greyish);
    opacity: 0.7;
}

/* --- WHY CHOOSE PICSQUEEZ --- */

.picsqueeze__about {
    margin-top: 48px;
    margin-bottom: 48px;
}

.picsqueeze__about-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    list-style: none;
    justify-items: center;
}

.picsqueeze__about-list-item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    text-align: center;
    row-gap: 1rem;
}

.picsqueeze__about-list-item i {
    font-size: 1.6rem;
}

.picsqueeze__about-list-item h6 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--lightmode);
}

/* --- PICSQUEEZE HOW TO USE SECTION --- */

.picsqueeze_use {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.picsqueeze_use h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--lightmode);
        color: var(--dark-greyish);
    }

    header {
        background-color: var(--primary);
    }

    #picsqueeze_logo {
        color: var(--text-one);
    }

    a {
        color: var(--dark-greyish);
    }

    .landing__menu-list li {
        border-top: 1px solid var(--lightmode);
    }

    .landing__menu-list li:first-child {
        border-top: 1px solid var(--lightmode);
        border-bottom: none;
    }

    .landing__menu-list li:last-child {
        border-top: 1px solid var(--lightmode);
        border-bottom: none;

    }

    .picsqueeze__about-list-item h6 {
        color: var(--dark-greyish);
    }
}

@media screen and (min-width: 920px) {
    .mobile__landing-menu,
    .mobile_menu-btn {
        display: none;
    }
}


@media (min-width: 768px) {
    .picsqueeze__about-list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}

@media (max-width: 920px) {
    .desktop__landing-menu {
        display: none;
    }
}