/* Universal selector and color variables */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary-color: #0083D0;
    --white: #fff;
    --footer-color: #F2F3F8;
    --black: black;
}

/* End of Universal selector and color variables */

/* Start of signup section */

/* Start of style for h1 and p elements */
.company-name {
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    margin-bottom: 0.5cm;
}

.text1 {
    font-size: 16pt;
    text-align: center;
    font-weight: bold;
}

/* end of the style for h1 and p elements  */

/* Start of facebook and google signup option image */

label {
    overflow-y: hidden;
}

.authentication {
    width: 2cm;
    height: 0.9cm;
    margin-bottom: 0.2cm;
    overflow-y: hidden;
    background-color: transparent;
}

.authentication-icon {
    width: 100%;
    height: 0.9cm;
    display: block;
    margin: auto;
}

.facebook {
    border: none;
    border-radius: 10px;
    margin-right: 0.3cm;
}

.google {
    border-color: var(--black);
    border-width: 2px;
    border-radius: 7px;
}

.google-pic {
    width: 1.0cm;
}

.authentication-section {
    display: flex;
    width: 100%;
    margin-top: 0.4cm;
    margin-bottom: 0.3cm;
    justify-content: center;
}

/* End of facebook and google signup option image */

/* Start of input area */
.reset-password{
    margin-top: 2cm;
}


.signup__main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.signup__container {
    width: 100%;
}

.signup__div {
    /* width:100%; */
    height: 100vh;
    background-color: #fff;
    padding: 1cm;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.form__inputs {
    height: 1cm;
    width: 80%;
    display: flex;
    margin-top: 4px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.icon {
    width: 0.7cm;
    margin-left: 4px;
    margin-top: 5px;
}

input {
    height: 1cm;
    flex: 1;
    border: none;
    margin-left: 0.3cm;
    font-size: 12pt;
    padding: 0px 10px;
}

input:focus {
    outline: none;
    background-color: #D9E5FF;
}

.reset-text {
    text-align: center;
    margin-top: 0.9cm;
    margin-bottom: 0.2cm;
}

.form__btn {
    height: 1.2cm;
    min-width: 200px;
    margin-top: 0.6cm;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    color: var(--white)
}

.forgot-password {
    text-align: center;
    margin: 1cm;
}

a {
    color: var(--primary-color)
}


/* end of input area */



.signup__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.6cm;
    padding-bottom: 1cm;
    background-color: var(--footer-color);
}

.signup__img-compress {
    width: 70%;
    height: auto;
    margin: 0 1cm 0 0;
    padding-top: 0.5cm;
}

.signup__info-text {
    font-size: 14pt;
    padding: 0.5cm;
}

.signup__info-text h6 {
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 0.2cm;
}

.login {
    text-align: center;
    margin-top: 0.3cm;
}

.white {
    background-color: var(--white);
}
.note{
    font-size: 10pt;
}
/* end of features side of the page */

/* Start of media queries */
@media (min-width: 767px) {

    * {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    /* Start of style for h1 element */

    /* .company-name {
        margin-top: 1cm;
    } */

    /* Start of signup section */

    .reset-password{
        margin-top: 2cm;
    }
    .signup__info-text{
        margin-bottom: 2cm;
    }

    .signup__main {
        flex-direction: row;
    }

    .signup__container {
        flex-basis: 60%;
    }

    .signup__info {
        flex-basis: 40%;
    }

    input {
        height: 1.1cm;
    }

    .icon {
        width: 0.8cm;
    }

    /* End of signup section */

    /* Start of the right hand section of the page */
    .signup__img-compress{
        width:100%;
    }

    .signup__info-text {
        font-size: 16pt;
    }
}

/* End of the right hand section of the page */


/* End of media queries */