{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Successful</title>
    <link rel="stylesheet" href="{% static 'css/resizer.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/resize.png' %}" />
</head>
<body>
    <div class="success">
    <img class='tick_image' src="{% static 'images/tick.png' %}" alt="Picture of a tick">
    <h1 class="success__text">Password reset complete</h1>
    <p>Your new password has been set</p>
    <p>Click the button below to log in</p>
    <button class="form__btn"><a href="{% url 'login' %}">Login</a></button>
    </div>
</body>
</html>
{% endblock content %}