{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/resize.png' %}" />
</head>

<body>
    <header class="set_password__header"><h1>PicSqueeze</h1></header>
    <main class="set_password__main">
        <section class="set_password__container ">
                <h3 class="company-name reset-password">Set A New Password</h3>
                <form action="" method="post" class="set_password_form">
                    {% csrf_token %}
                    <ul class="set_password__instruction">
                        {{ form.errors }}
                    </ul>
                    <div class="set_password__input">
                        <label for="password">New Password</label>
                        <input type="password" name="new_password1" id="password" placeholder="Enter your new password" required>
                    </div>
                    <div class="set_password__input">
                        <label for="confirmPassword">New Password Confirmation</label>
                        <input type="password"name="new_password2" id="confirmPassword" placeholder="Enter your new password to confirm" required>
                    </div>

                    <button type="submit" class="form__btn">Change Password</button>            
                </form>
        </section> 
    </main>
    
</body>
</html>
{% endblock content %} 