{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/resize.png' %}" />
</head>

<body>
    <main class="signup__main">
        <section class="signup__container ">
            <div class="signup__div ">
                <h1 class="company-name reset-password">PicSqueeze Image Compressor</h1>
                <p class="text1">Reset your password</p>
                <p class="reset-text">Enter your email and wait for verication message</p>
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form__inputs">
                        <label for="email"><img src="{% static 'images\email.png' %}" class="icon"></label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    </fieldset>
                    

                    <button type="submit" class="form__btn">Send</button>
                    <p class="login">Already a member? <a href="{% url 'login' %}">Login</a></p>
            
                </form>
            </div>
        </section> 

            <aside class="signup__info white">
                <img src="{% static 'images\reset.png' %}" class="signup__img-compress">
            </aside>
    </main>
    
</body>
</html>
<!-- 
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Rseet Password</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Request password reset
            </button>
        </div>
    </form>

  </div>  -->
{% endblock content %} 