{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="PicSqueeze offers powerful image compression tools to reduce file sizes without compromising quality. Boost your website's performance with fast-loading images.">
    
        <!--  Appearance of content when shared on social media platforms -->
        <meta property="og:title" content="PicSqueeze - Image Compression">
        <meta property="og:description" content="Powerful image compression tools for fast-loading images.">
        <!-- 
            <meta property="og:image" content="https://www.picsqueeze.com/images/picsqueeze-logo.png">
        <meta property="og:url" content="https://www.picsqueeze.com/"> 
        Link the Site logo properly!
    -->
    
        <!--  Appearance of content when shared on Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="PicSqueeze - Image Compression">
        <meta name="twitter:description" content="Powerful image compression tools for fast-loading images.">
        <!-- <meta name="twitter:image" content="https://www.picsqueeze.com/images/picsqueeze-logo.png"> -->
    
    
        <!-- Add the SEO meta elements here! -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap" rel="stylesheet">
    
        <!-- {% block extra_css %}
        {% endblock extra_css %} -->
        {% block resize_extra_css %}{% endblock resize_extra_css %}
        {% block compress_extra_css %}{% endblock compress_extra_css %}
        {% block convert_extra_css %}{% endblock convert_extra_css %}

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <title>PicSqueeze</title>
        
    </head>
<body>
    <div class="overlay hidden"></div>
    <header >
        <div class="landing_header">
            <a href="{% url 'compress' %}" id="picsqueeze_logo">PicSqueeze</a>
            <button class="mobile_menu-btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <button class="mobile_menu-btn-close hidden">X</button>
            <nav class="mobile__landing-menu hidden" aria-hidden="true">
                <ul class="landing__menu-list">
                    <li><a href="{% url 'resize' %}">Image Resizer</a></li>
                    <li><a href="{% url 'convert' %}">Convert Image</a></li>
                    <li><a href="{% url 'compress' %}">Image Compressor</a></li>
                    <li>
                        <a id='submenu_mobile-btn'>Services <i class="fa fa-caret-down" aria-hidden="true"></i> <i
                                class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <!-- Submenu -->
                        <ul class="submenu_mobile">
                            <li><a >Coming Soon</a></li>
                            <li><a >Coming Soon</a></li>
                            <li><a >Coming Soon</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">SignUp</a></li>
                    {% endif %}
                </ul>
            </nav>
            <nav class="desktop__landing-menu">
                <ul class="desktop__landing-menu-list">
                    <li><a href="{% url 'resize' %}">Image Resizer</a></li>
                    <li><a href="{% url 'convert' %}">Convert Image</a></li>
                    <li><a href="{% url 'compress' %}">Image Compressor</a></li>
                    <li class="submenu_desktop-box">
                        <a  id='submenu_desktop-btn'>Services <i class="fa fa-caret-down"
                                aria-hidden="true"></i> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <!-- Submenu -->
                        <ul class="submenu_desktop">
                            <li><a >Coming Soon</a></li>
                            <li><a >Coming Soon</a></li>
                            <li><a >Coming Soon</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">SignUp</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% if user.is_authenticated %}
        <div class="username">
          Hi {{user.username}}
        </div>
        {% endif %}
    </header>
    
    <main class="base_main">
    {% block pageContent %} 

    {% endblock pageContent %}
    </main>
    <footer>
        <div class="container footer__link-container">
            <div class="footer__links">
                <h6>Image Tools</h6>
                <ul class="footer__links-list">
                    <li class="footer__links-list-item"><a href="{% url 'resize' %}">Image Resizer</a></li>
                    <li class="footer__links-list-item"><a href="{% url 'resize' %}">Bulk Image Resizer</a></li>
                    <li class="footer__links-list-item"><a href="{% url 'resize' %}">Image Compressor</a></li>
                    <li class="footer__links-list-item"><a href="{% url 'resize' %}">Image Enlarger</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <h6>Image Converters</h6>
                <ul class="footer__links-list">
                    <li class="footer__links-list-item"><a href="{% url 'convert' %}">GIF to JPG</a></li>
                    <li class="footer__links-list-item"><a href="{% url 'convert' %}">WebP to JPG</a></li>
                    <li class="footer__links-list-item"><a href="{% url 'convert' %}">PNG to JPG</a></li>
                    <li class="footer__links-list-item"><a href="{% url 'convert' %}">JPG to PNG</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <h6>About</h6>
                <ul class="footer__links-list">
                    <li class="footer__links-list-item"><a>Contact Us</a></li>
                    <li class="footer__links-list-item"><a>Privacy</a></li>
                    <li class="footer__links-list-item"><a>Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="container footer__rights">
            <small>© 2024 PicSqueeze v.1.0. All rights reserved.</small>
        </div>
    </footer>
    <!-- <div class="container footer__link-container">
        <div class="footer__links">
            <h6>Image Tools</h6>
            <ul class="footer__links-list">
                <li class="footer__links-list-item"><a>Image Resizer</a></li>
                <li class="footer__links-list-item"><a>Bulk Image Resizer</a></li>
                <li class="footer__links-list-item"><a>Image Compressor</a></li>
                <li class="footer__links-list-item"><a>Image Enlarger</a></li>
            </ul>
        </div>
        <div class="footer__links">
            <h6>Image Converters</h6>
            <ul class="footer__links-list">
                <li class="footer__links-list-item"><a>PDF to JPG</a></li>
                <li class="footer__links-list-item"><a>WebP to JPG</a></li>
                <li class="footer__links-list-item"><a>PNG to JPG</a></li>
                <li class="footer__links-list-item"><a>JPG to PNG</a></li>
            </ul>
        </div>
        <div class="footer__links">
            <h6>About</h6>
            <ul class="footer__links-list">
                <li class="footer__links-list-item"><a>Contact Us</a></li>
                <li class="footer__links-list-item"><a>Privacy</a></li>
                <li class="footer__links-list-item"><a>Terms</a></li>
            </ul>
        </div>
    </div>
    <div class="container footer__rights">
        <small>© 2024 PicSqueeze v.1.0. All rights reserved.</small>
    </div> -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}

    {% block resize_extra_js %}
    {% endblock resize_extra_js %}

    {% block convert_extra_js %}
    {% endblock convert_extra_js %}
</body>
</html>